@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fffdfc;
}
input:-webkit-autofill:focus,
input:-webkit-autofill {
  /* -webkit-box-shadow: 0 0 0 30px #fffdfc inset !important; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000000 !important;
}
